#controlBox {
    border: 1px black solid;
    padding: 15px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
}
input {
    margin: 15px;
}
#body {
    margin: 0px;
}
button {
    width: 100px;
}